<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Tru Muzeic </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <link rel="stylesheet" href="css/lightbox.css">
        <link rel="stylesheet" href="css/custom.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="#" class="navbar-brand scroll-top">
                        <i class="fa fa-optin-monster" id="logo-image"></i>
                        <em>T</em>ru <em>M</em>uzeic
                    </a>

                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="scroll-top">Ground Roots</a></li>
                        <li><a href="#" class="scroll-link" data-id="about">Royality</a></li>
                        <li><a href="#" class="scroll-link" data-id="portfolio">Our Services</a></li>
                        <li><a href="#" class="scroll-link" data-id="roadmap">Road Map</a></li>
                        <li><a href="#" class="scroll-link" data-id="blog">Blog</a></li>
                        <li><a href="#" class="scroll-link" data-id="contact-us">Contact Info</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->


    <div class="parallax-content baner-content" id="home">
        <div class="container">
            
    <body>
        <div>
            <h2 id="index-header-title"><p id="royal"></p>We are Royals!<em> Tru Muzeic</em></p></h2>
        </div>
        <div id="index-header-subtitle">
            <p>Some call it magic, while others call it myth. We like to call it our craft. Here at Tru Muzeic, we love what we do. Our focus is on the aspire artist that wants to get there feet wet.</p> 
            <p>Or maybe you have a wedding video that you want to be edited by professionals or amongst professionals who share similiar goals and aspirations. Either way, and regardless your passion, it is our duty to see your passion come alive.</p>
            <p> We do so, but using our creativity to give you a streamline presentation of your music, your video, your training, you design, your sound design, and bringing your graphics, logos and ink-marks to life. Here at Tru Muzeic, we put forth the work and effort so that you can sit back, relax and worry about how to market and build your brand, while we are the production behing it. Follow us, on all our social platforms, and we will be sure to give you asnwers to whatever concerns you. We ARE Royals. WE ARE Tru Muzeic.</p>
            <p> Welcome to Our World.</p>
        </div>
    </body>
                <div class="primary-white-button">
                    <a href="#" class="scroll-link" data-id="about">Learn More</a>
                </div>
            </div>
        </div>
    </div>


    <section id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_01.png" alt="">
                        </div>
                        <h4>Music That Moves</h4>
                        <div class="line-dec"></div>
                        <p>Need Top 10 Billboard Tracks? Let Us Handle That!</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Expand</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_02.png" alt="">
                        </div>
                        <h4>Music For The Soul</h4>
                        <div class="line-dec"></div>
                        <p>Most music today has the same repetitve sound and boring sounding drums and it doesn't have that extra flavor to make it <i>pop</i>. You love the sound and the beat but its missing that little extra something. We can take the stems you recieved and remix the tracks for you to give it that quality of sound you desire.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Expand</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_03.png" alt="">
                        </div>
                        <h4>Music Made Your Way. NO Time, NO Stress.</h4>
                        <div class="line-dec"></div>
                        <p>Starting out, who has time to waste? You are seeking out your dreams so that should be the only concern for you. Let us help you gain your million subscribes. When you win, We excel to higher heights because we only wish to be instrumental in your success. Let Tru Muzeic make you a hit, as you prepare to ride the wave.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Expand</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_04.png" alt="">
                        </div>
                        <h4>Royal Music Video Production</h4>
                        <div class="line-dec"></div>
                        <p>Many of you are looking to have your videos edited and sent to you to preview. Here we have some available options even if you are on a budget.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Expand</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="section-heading">
                            <h4>Our Services</h4>
                            <div class="line-dec"></div>
                            <p>Whether you need music, beats, or just some help getting your brand together with graphics, icon design, or overall branding help. We provide you with the finest quality products for the best price!</p>
                            <div class="filter-categories">
                                <ul class="project-filter">
                                    <li class="filter" data-filter="all"><span>Show More</span></li>
                                    <li class="filter" data-filter="nature"><span>Music Mix & Master Production</span></li>
                                    <li class="filter" data-filter="animation"><span>Video Editing</span></li>
                                    <li class="filter" data-filter="branding"><span>Branding & Marketing</span></li>
                                    <li class="filter" data-filter="graphic"><span>Graphics Distrubution</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="projects-holder-3">
                            <div class="projects-holder">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 project-item mix nature">
                                      <div class="thumb">
                                            <div class="image">
                                                <a href="img/portfolio_big_item_01.jpg" data-lightbox="image-1"><img src="img/portfolio_item_01.jpg"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix animation">
                                      <div class="thumb">
                                        <div class="image">
                                                <a href="img/portfolio_big_item_02.jpg" data-lightbox="image-1"><img src="img/portfolio_item_02.jpg"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix branding">
                                      <div class="thumb">
                                            <div class="image">
                                                <a href="img/portfolio_big_item_03.jpg" data-lightbox="image-1"><img src="img/portfolio_item_03.jpg"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix graphic nature">
                                        <div class="thumb">
                                            <div class="image">
                                                <a href="img/portfolio_big_item_04.jpg" data-lightbox="image-1"><img src="img/portfolio_item_04.jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix branding">
                                      <div class="thumb">
                                            <div class="image">
                                                <a href="img/portfolio_big_item_05.jpg" data-lightbox="image-1"><img src="img/portfolio_item_05.jpg"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix graphic animation">
                                        <div class="thumb">
                                            <div class="image">
                                                <a href="img/portfolio_big_item_06.jpg" data-lightbox="image-1"><img src="img/portfolio_item_06.jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- 2ND ABOUT SECTION, ADD NEW CONTENT HERE-->
<section id="roadmap">
        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="section-heading">
                            <h4>Road Map</h4>
                            <div class="line-dec"></div>
                            <p>How It all started</p>
                            <div class="filter-categories">
                                <ul class="project-filter">
                                    <li class="filter" data-filter="all"><span>Show More</span></li>
                                    <li class="filter" data-filter="nature"><span>Music Mix & Master Production</span></li>
                                    <li class="filter" data-filter="animation"><span>Video Editing</span></li>
                                    <li class="filter" data-filter="branding"><span>Branding & Marketing</span></li>
                                    <li class="filter" data-filter="graphic"><span>Graphics Distrubution</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="projects-holder-3">
                            <div class="projects-holder">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 project-item mix nature">
                                      <div class="thumb">
                                            <div class="image">
                                                <a href="img/royal.jpg" data-lightbox="image-1"><img src="img/royal.jpg"></a>
                                            </div>
                                      </div>
                                    </div>
                            <body>OCEAN ART RECORDS: INDEPENDENT RECORD LABEL SINCE 2017.</body>

    
<div class="text-content"><p><p>
<h2>We<span> are</span> Royals!<em></em></h2>

<body>
    <p>We are an independent record label, combining a love of music with a passion for quality. The RMG (Royals Music Group™) and  OAR (Ocean Arts Records) Movement evolved through a collaborative decision among artists and administrators that were fed up with greedy records labels to create an organization that encourages creativity, community, and an environment where artists can work on their music freely without distraction or concern. 

    <p> The vision of our movement began in June 2017 in DeKalb, IL. Piece by piece we put together an idea to create a small team of indivivuals who understands the industry and our role as a management company that has a vested interest in helping our artists grow and advance their careers. A new publishing company that manages such brands and trademarks, coordinates the production, manufacture, distribution, marketing, promotion, and enforcement of copyright for sound recordings and music videos; also conducting talent scouting and development of new artists.<p>



    <p> We pride ourselves as being a youthful and forward thinking management company that embraces innovation, takes advantage of cutting-edge Internet strategies and international our network of affiliates, while still understanding the invaluable knowledge we can gain from industry veterans.  
    We capture the finest performances and let you download them to play in your home.<p>

</body>

<body>

    <p>You can buy individual tracks or whole albums. Download them immediately from royalsmusicgroup.com. Or choose between CD, Super Audio CD and vinyl, which you can buy from online stockists or your local retailer.</p></body> 

                </div>
            </div>
        </div>
    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix animation">
                                      <div class="thumb">
                                        <div class="image">
                                                <a href="img/royal.jpg" data-lightbox="image-1"><img src="img/royal.jpg"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix branding">
                                      <div class="thumb">
                                            <div class="image">
                                                <a href="img/portfolio_big_item_03.jpg" data-lightbox="image-1"><img src="img/portfolio_item_03.jpg"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix graphic nature">
                                        <div class="thumb">
                                            <div class="image">
                                                <a href="img/portfolio_big_item_04.jpg" data-lightbox="image-1"><img src="img/portfolio_item_04.jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix branding">
                                      <div class="thumb">
                                            <div class="image">
                                                <a href="img/portfolio_big_item_05.jpg" data-lightbox="image-1"><img src="img/portfolio_item_05.jpg"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix graphic animation">
                                        <div class="thumb">
                                            <div class="image">
                                                <a href="img/portfolio_big_item_06.jpg" data-lightbox="image-1"><img src="img/portfolio_item_06.jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 2ND ABOUT SECTION, ADD NEW CONTENT HERE-->
    <section id="about" class="page-section">
        <div class="container">
            <div class="row">
               
                <div class="col-md-3 col-sm-6 col-xs-12">
                    
                    <div class="service-item">
                        <div class="icon2">
                            <img src="img/service_icon_04.png" alt="">
                        </div>
                        <h4>Settings for Producers!</h4>
                        <div class="line-dec"></div>
                        <p>Integer hendrerit vehicula mauris, sed pellentesque sem facilisis at. Aliquam vel arcu metus. Nam sem lectus, mattis non tellus et, tincidunt condimentum eros.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon2">
                            <img src="img/service_icon_01.png" size alt="">
                        </div>
                        <h4>Music That Moves</h4>
                        <div class="line-dec"></div>
                        <p>Need Top 10 Billboard Tracks? Let Us Handle That!</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon2">
                            <img src="img/service_icon_02.png" size alt="">
                        </div>
                        <h4>Music for the soul</h4>
                        <div class="line-dec"></div>
                        <p>Most music today has the same repetitve sound and boring sounding drums and it doesn't have that extra flavor to make it <i>pop</i>. You love the sound and the beat but its missing that little extra something. We can take the stems you recieved and remix the tracks for you to give it that quality of sound you desire</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon2">
                            <img src="img/service_icon_03.png" alt="">
                        </div>
                        <h4>Music Made Your Way. No Time? No Problem!</h4>
                        <div class="line-dec"></div>
                        <p>Starting out, who has time to waste? You are seeking out your dreams so that should be the only concern for you. Let us help you gain your million subscribes. When you win, We excel to higher heights because we only wish to be instrumental in your success. Let Tru Muzeic make you a hit, as you prepare to ride the wave.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ I was in serious need for a mix and I had no time to get the production finalized. But the team at Tru Muzeic was prompt and so helpful. Thank Tru Muze. You the best. ”</p>
                                <h4>George Kingston</h4>
                                <span>Music Producer</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ I just needed a little help with my production. Tru Muzeic helped perfect the sound I was looking for. These guys are my main go to now. ”</p>
                                <h4>Tru Eazy Beats</h4>
                                <span>Artist</span>
                            </div>
                        </div>

                         <div class="item">
                            <div class="testimonials-item">
                                <p>“ Ya'll are simply dope. ”</p>
                                <h4>Taylor Maid</h4>
                                <span>Singer</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“I won't lie Tru Muzeic made me a hit. I feel kind of stupid for not hitting these guys up earlier. Definitely the truth! ”</p>
                                <h4>Timmy Turnup</h4>
                                <span>Rapper</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                            <p>“ I barely did any work, and sometimes I can be a bum and try to save my work to the last min. When you have a nasty a** boss, this isn't the best method to do. But thankfully, Tru Muzeic made the beats, and the music production was way too decent! Highly recommend! ”</p>
                                <h4>Danny S.</h4>
                                <span>Producer</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Tru Muzeic  went Crraaaazy on the image they designed for my single. Man, loved it, definitely have to hit them up for more work in the future! Didn't disappoint at all. ”</p>
                                <h4>J. Perri</h4>
                                <span>Comedian, Actor</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="tabs-content" id="blog">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="col-md-4">
                        <div class="section-heading">
                            <h4>Key Players!</h4>
                            <div class="line-dec"></div>
                            <p>A team is only as strong as it team leaders, and the member within. We strive to effectively creatr the finest production in music, video editing, sound design, and branding, and web / graphic design. We aim to making sure your brand is the next wave.</p>
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                                <li><a href="#tab1" class="active">Josh "Tru Tru" Washington</a></li>
                                <li><a href="#tab2" class="active">Paul P "Pablo Dipacaso" Ukebal</a></li>
                                <li><a href="#tab3">Travohn "Let Me Speak" Westin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <img src="img/Tru.jpg" alt="">
                                <div class="text-content">
                                    <h4>Josh "Tru Tru" Washington</h4>
                                    <span><a href="#">CEO / Producer / Sound Designer / Visual Arts / Manager</a> / <a href="#">Tru Tru</a> / <a href="#">22 Jan 2018</a></span>
                                    <p>Ceo and founder of Ocean Arts Records and Tru Muzeic company. Currently manages featured artist Travohn. Serves multi-purposes, such as Director of films, Editor, and Director of Photographu (DP).</p>
                                </div>
                            </div>
                            <div id="tab2">
                                <img src="img/paul.jpg" alt="">
                                <div class="text-content">
                                    <h4>Paul "Paul P "Pablo Dipacaso" Ukebal</h4>
                                    <span><a href="#">CEO / Producer / Instrumentalist / Sound Designer / Visual Arts / Manager</a> / <a href="#">Micheal</a> / <a href="#">14 Dec 2017</a></span>
                                    <p> Creater and founder of Royals Music Group [RMG] and Royals Music Studios. Overseas new branding products, services, music production for RMG and Ocean Arts it's Record Label.</p>
                                </div>
                            </div>
                            <div id="tab3">
                                <img src="img/blog_item_01.jpg" alt="">
                                <div class="text-content">
                                    <h4>Travohn Westin</h4>
                                    <span><a href="#">'Let Me Speak'</a> / <a href="#">Travohn</a> / <a href="#">25 Mar 2018</a></span>
                                    <p>Hot new single from Travohn, Chicago artist who brings the newest form of pain music infused with Chicago's own drill music sound. He sound resonates from the struggles and battles that we ask individuals in disinfranchise areas go through. Apart of his new album, currently "<i>Untitled</i>", will be dropping March 11th, 2018. "No sleeping, just in case you thought hard work wasn't involved. I get no sleep while your out here taking naps." - Travohn</p>
                                </div>
                            </div>
                            <div id="tab4">
                                <img src="" alt="">
                                <div class="text-content">
                                    <h4>Jacob Westerfield</h4>
                                    <span><a href="#">'Web Designer and UI Design</a> / <a href="#">Silverslake Industries</a> / <a href="#">12 Jan 2018</a></span>
                                    <p>Designed the Tru Muzeic platform and image. Work with different industry state-wide within the U.S. When in need for a webpage designer or creator for a digital platform or app, he is our go-to guru. Check below for a link in the contact to have him design for you.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Contact Us</h4>
                        <div class="line-dec"></div>
                        <p>If you want to get some work done? Contact us here, and shoot us a quick message about something you would like to create and we'll help you with the planning process as we aim towards a finished product!</p>
                        <div class="pop-button">
                            <h4 id="messageButton">Send us a message</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="pop">
                        <span>✖</span>
                        <form id="contact" action="#" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Enter Your Name" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Enter Your Email" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Enter A Message For Us" required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="map">
    	<!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
        -->
        <iframe id="left-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.0598643808694!2d-88.7463539495487!3d41.934564979115656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880f2a5dd08c1c2d%3A0x91d36408ba2f22da!2s623+N+7th+St%2C+DeKalb%2C+IL+60115!5e0!3m2!1sen!2sus!4v1516565026434" width="50%" height="400" frameborder="3" style="border:0" allowfullscreen></iframe>
        <iframe id="right-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2967.5691282697994!2d-88.7695167851114!3d41.94510917921695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880f2ae79d871c13%3A0x7d4d1a1fccfaa18e!2s823+W+Hillcrest+Dr%2C+DeKalb%2C+IL+60115!5e0!3m2!1sen!2sus!4v1516726041037" width="50%" height="400" frameborder="3" style="border:0" allowfullscreen></iframe>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <a href="#" class="scroll-top"><em>T</em>ru <em>M</em>uzeic</a>
                        <p>Copyright &copy; 2018 Tru Muzeic <p>

                        <p><p>Tru Muzeic Icon
                        Image name: blog_item_04

                    <span>Tru Muzeic</span></p><p><p>
                    <span>A member of Royals Music Group</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="location">
                        <h4>Location</h4>
                        <ul>
                            <li>623 North 7th Street, <br>DeKalb, IL 60115</li>
                            <li>823 Hillcrest Street, <br>DeKalb, IL 60115</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="contact-info">
                        <h4>More Info</h4>
                        <ul>
                            <li><em>Phone</em>: 708-628-7605</li><p>
                            <li><em>Email</em>: tru.muzeic@gmail.com</li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <div  class="connect-us">
                        <h4>Weather</h4>
                        <ul>
                            <li><img id="weather-icon" src="img/custom/weather-icon-02.png" alt="weather_icon"></img></li>
                            <li><p id="temperature">42°F</p></li>
                            
                        </ul>
                        <ul>
                            <li><i id="city">Chicago , </i><i id="state">Illinois</i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="connect-us">
                        <h4>Let's Get Social</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/oceanartrecords/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://soundcloud.com/ocean-art-records" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
                            <li><a href="https://www.googleplus.com/tru.muzeic/" target="_blank"><i class="fa fa-google"></i></a></li>
                            <li><a href="https://www.instagram.com/tru_muzeic/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https:youtube.com/tru.muzeic/" target="_blank"><i class="fa fa-youtube-play"></i></a></li> <!-- tru_muzeic -->
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-snapchat"></i></a></li> <!-- tru_muzeic-snapchat-->
                            <li><a href=""><i class="fa fa-spotify"></i></a></li>
                            <li><a href="#"><i class="fa fa-mixcloud"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
                            <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fa fa-apple"></i></a></li>
                        </ul>
                        </br>
                        <div class="connect-us">
                            <h4>Purchase Music and Donate here</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-bitcoin"></i></a></li>
                                <li><a href="#"><i class="fa fa-paypal"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-wallet"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            </ul> 
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        // navigation click actions
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 50;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
</body>
</html>

