/* 

Template 2093 Flight

http://www.tooplate.com/view/2093-flight

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', arial, sans-serif;
}

body {
	overflow-x: hidden;
	color: black;
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	font-size: 13px;
	line-height: 24px;
}

.page-direction-button a {
	display: inline-block;
	line-height: 60px;
	width: 270px;
	height: 60px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: #2a2b2c;
	font-size: 18px;
	font-weight: 700;
	color: #121212;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0px;
}

.page-direction-button a i {
	margin-right: 5px;
	font-size: 20px;
}

.primary-button a {
	text-decoration: none;
	margin-top: 15px;
	width: auto;
	padding: 0px 18px;
	height: 36px;
	background-color: #2a2b2c;
	border-radius: 5px;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	line-height: 36px;
}

.submit-form h4 {
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	display: inline-block;
	border-bottom: 1px solid #dbdada;
}

.submit-form h4 em {
	font-style: normal;
}

.submit-form label {
	margin-top: 10px;
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	color: #121212;
}

.submit-form select {
	margin-bottom: 10px;
	width: 100%;
	height: 36px;
	border: none;
	background-color: #e7e7e7;
	font-size: 11px;
	color: #9a9a9a;
	outline: none;
	padding: 0px 10px;
	display: inline-block;
}

.submit-form .date {
	margin-bottom: 10px;
	width: 100%;
	height: 36px;
	border: none;
	background-color: #e7e7e7;
	font-size: 11px;
	color: #9a9a9a;
	outline: none;
	padding-left: 15px;
	margin-left: 0px;
	display: inline-block;
	box-shadow: none;
	border-radius: 0px;
}

.submit-form input {
	margin-top: 12px;
	margin-left: 5px;
	cursor: pointer;
}

#most-visited {
	margin-top: 100px;
	margin-bottom: 100px;
}

.visited-item {
	box-shadow: 0px 5px 15px #ddd;
	margin-bottom: 30px;
}

.visited-item .text-content {
	background-color: #f4f4f4;
	padding: 15px;
}

.visited-item img {
	width: 100%;
	overflow: hidden;
}

.visited-item h4 {
	margin-top: 0px;
	font-size: 16px;
	font-weight: 700;
	color: #121212;
}

.visited-item span {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #3f6f90;
}

footer {
	text-align: center;
	background-color: #000000;
	padding: 60px 0px;
	border-top: 1px solid #00e0fd;
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 5px 5px 14px 6px #ffffff;
}

footer .primary-button {
	margin-bottom: 40px;
}

footer .social-icons {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer .social-icons li {
	display: inline-block;
	margin: 0px 3px;
}

footer .social-icons li a {
	width: 80px;
	height: 80px;
	display: inline-block;
	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	background-color: #2a2b2c;
	transition: all 0.5s;
}

footer .social-icons li a:hover {
	background-color: #00e0fd;
	color:#2a2b2c;
    /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 0.5px 0.5px 7px 3px #ffffff;
	transition: 50ms;
}

footer p {
	color: #fff;
	font-size: 12px;
	margin-top: 40px; 	
}

footer p em {
	font-style: normal;
	font-weight: 500;
	color: #00e0fd;
	letter-spacing: 0.5px;
}

footer p em a:hover {
	font-style: normal;
	font-weight: 700;
	color: #00e0fd;
	text-shadow: 0.5px 0.5px 7px 3px #ffffff;
}

.page-heading {
	background-image: url(../img/custom/heading-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	position: relative;
	border-bottom: 2px solid #00e0fd;
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 2px 2px 12px 2px #ffffff;
}

.page-heading .logo {
	padding: 60px 0px;
	text-align: left;
}

.page-heading .page-direction-button {
	text-align: right;
	margin-top: 110px;
}

@media (max-width: 991px) {

	.banner .left-side {
		text-align: center;
		overflow: hidden;
		padding-left: 0vh;
		margin-left: -50vh;
		margin-right: -50vh;
		padding-right: 50vh;
		padding-left: 50vh;
	}

	.banner .social-links {
	  list-style: none;
	  margin-top: 0px;
	  padding-right: 15px;
	  padding-left: 15px;
	}

	.banner .page-direction-button {
		margin-top: 50px;
	}

	.banner .logo img {
		padding-top: 40px;
		max-width: 100%;
	}

	.banner .tabs-content {
		margin-top: 60px;
	}

	.banner .submit-form {
		margin: 30px 30px;
	}

	
	footer ul li {
		margin-bottom: 10px!important;
	}
		
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}

.scroll-top:hover  {
	background-color: #cb01dd;
	color: #fff;  
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 0.5px 0.5px 7px 3px #ffffff;  
	opacity: 0.9;
	transition: all 0.1s;
}

#home-button:hover {
	background-color:#00e0fd;
	color: #fff;  
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 0.5px 0.5px 7px 3px #ffffff;  
	opacity: 0.7;
	transition: all 0.1s;
}

.billboard-section {
    color: #fff;
	text-align: center;
	background: black;
	border: 1px solid #00e0fd;
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 5px 5px 14px 6px #ffffff;
	text-shadow: 2px 2px #2a2b2c;
	letter-spacing: 1px;
}

.section-heading {
    margin-top: 75px;
    margin-bottom: 75px;
}

#billboard-title {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300px;
	text-shadow: 2px 2px #272525;
}

#top-ten-title {
	/* border: 2px solid #cb01dd;  */
	border: 2px solid #cb01dd;  
	border-radius: 2px;
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 1px 1px 8px 4px #ffffff;  
}

.billboard-icon {
	margin-right: 10px; 
 }
 
#billboard-icon {
	width: 120px;
	height: 120px;
	box-shadow: 3px 3px 3px #888888;
	opacity: 0.9;
}

#billboard-icon:hover {
	width: 100px;
	height: 100px;
	box-shadow: 3px 3px 3px #888888;
	opacity: 0.80;
}