/* 

Template 2093 Flight

http://www.tooplate.com/view/2093-flight

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', arial, sans-serif;
}

body {
	overflow-x: hidden;
	color: black;
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	font-size: 13px;
	line-height: 24px;
}

.page-direction-button a {
	display: inline-block;
	line-height: 60px;
	width: 270px;
	height: 60px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: #00e0fd;
	opacity: 0.9;
	font-size: 18px;
	font-weight: 700;
	color: #121212;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0px;
}

.page-direction-button a i {
	margin-right: 5px;
	font-size: 20px;
}

.primary-button a {
	text-decoration: none;
	margin-top: 15px;
	width: auto;
	padding: 0px 18px;
	height: 36px;
	background-color: #2a2b2c;
	border-radius: 5px;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	line-height: 36px;
}

.submit-form h4 {
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	display: inline-block;
	border-bottom: 1px solid #dbdada;
}

.submit-form h4 em {
	font-style: normal;
}

.submit-form label {
	margin-top: 10px;
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	color: #121212;
}

.submit-form select {
	margin-bottom: 10px;
	width: 100%;
	height: 36px;
	border: none;
	background-color: #e7e7e7;
	font-size: 11px;
	color: #9a9a9a;
	outline: none;
	padding: 0px 10px;
	display: inline-block;
}

.submit-form .date {
	margin-bottom: 10px;
	width: 100%;
	height: 36px;
	border: none;
	background-color: #e7e7e7;
	font-size: 11px;
	color: #9a9a9a;
	outline: none;
	padding-left: 15px;
	margin-left: 0px;
	display: inline-block;
	box-shadow: none;
	border-radius: 0px;
}

.submit-form input {
	margin-top: 12px;
	margin-left: 5px;
	cursor: pointer;
}

#most-visited {
	margin-top: 100px;
	margin-bottom: 100px;
}

.visited-item {
	box-shadow: 0px 5px 15px #ddd;
	margin-bottom: 30px;
}

.visited-item .text-content {
	background-color: #f4f4f4;
	padding: 15px;
}

.visited-item img {
	width: 100%;
	overflow: hidden;
}

.visited-item h4 {
	margin-top: 0px;
	font-size: 16px;
	font-weight: 700;
	color: #121212;
}

.visited-item span {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #3f6f90;
}

footer {
	text-align: center;
	background-color: #000000;
	padding: 60px 0px;
	border-top: 1px solid #00e0fd;
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 5px 5px 14px 6px #ffffff;
}

footer .primary-button {
	margin-bottom: 40px;
}

footer .social-icons {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer .social-icons li {
	display: inline-block;
	margin: 0px 3px;
}

footer .social-icons li a {
	width: 80px;
	height: 80px;
	display: inline-block;
	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	background-color: #2a2b2c;
	transition: all 0.5s;
}

footer .social-icons li a:hover {
	background-color: #00e0fd;
	color:#2a2b2c;
    /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 0.5px 0.5px 7px 3px #ffffff;
	transition: 50ms;
}

footer p {
	color: #fff;
	font-size: 12px;
	margin-top: 40px; 	
}

footer p em {
	font-style: normal;
	font-weight: 500;
	color: #00e0fd;
	letter-spacing: 0.5px;
}

footer p em a:hover {
	font-style: normal;
	font-weight: 700;
	color: #00e0fd;
	text-shadow: 0.5px 0.5px 7px 3px #ffffff;
}

.page-heading {
	background-image: url(../img/custom/heading-bg-tron-vectors.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	position: relative;
	border-bottom: 2px solid #00e0fd;
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 1px 1px 10px 1px #ffffff;
}

.page-heading .logo {
	padding: 50px 0px;
	text-align: left;
}

.page-heading .page-direction-button {
	text-align: right;
	margin-top: 110px;
}

@media only screen and (min-width: 1024px) {
	.chart-row__rank .chart-row__current-week, .chart-row__last-week {
		display: block;
	}
	
	.chart-row__main-display {
		display: block;
		margin-left: 96px;
	}

	.chart-row__rank {
		margin-top: 30px;
	}

	.chart-row__current-week {
		font-size: 45px;
		margin-left: 95px;
		margin-top: 10px;
	}

	span.chart-row__last-week {
		font-size: 13px;
		background-color: transparent;
		color: #868383;
		width: 100px;
		margin-left: 55px;
		margin-top: 20px;
	}

}

@media (max-width: 1023px) { 
	span.chart-row__last-week {
		width: 40px;
		height: 62px;
		margin-left: 5px;
		font-size: 10px;
		background-color: transparent;
		color: #868383;
	}

	.chart-row__current-week {
		width: 50px;
		height: 30px;
	}

	.chart-row__rank, .chart-row__last-week, .chart-row__current-week {
		display: block;
		position: relative;
		float: left;
		left: 0;
		font-size: 1em;
		line-height: 1;
		text-align: center;
	} 
}

@media (max-width: 1000px) {
	.chart-row__rank, .chart-row__last-week, .chart-row__current-week {
		display: block;
		position: relative;
		float: left;
		left: 0;
		line-height: 1;
		text-align: center;
	} 
	
	.chart-row__rank {
		width: 40px;
		height: 40px;
		font-size: 10px;
		background-color: transparent;
	}

	span.chart-row__last-week {
		width: 40px;
		height: 40px;
		
		background-color: transparent;
		color: #868383;
	}
	
	.chart-row__current-week {
		width: 50px;
		height: 50px;
		font-size: 15px;
		background-color: transparent;
		color: #fff;
	}
}

@media (max-width: 991px) {
	.banner .left-side {
		text-align: center;
		overflow: hidden;
		padding-left: 0vh;
		margin-left: -50vh;
		margin-right: -50vh;
		padding-right: 50vh;
		padding-left: 50vh;
	}

	.banner .social-links {
	  list-style: none;
	  margin-top: 0px;
	  padding-right: 15px;
	  padding-left: 15px;
	}

	.banner .page-direction-button {
		margin-top: 40px;
	}

	.banner .logo img {
		padding-top: 40px;
		max-width: 100%;
	}

	.banner .tabs-content {
		margin-top: 60px;
	}

	.banner .submit-form {
		margin: 30px 30px;
	}

	footer ul li {
		margin-bottom: 10px!important;
	}
		
}

@media (max-width: 480px) {
	
}

.chart-row__main-display {
	overflow: hidden;
}

.scroll-top:hover  {
	background-color: #cb01dd;
	color: #fff;  
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 0.5px 0.5px 7px 3px #ffffff;  
	opacity: 0.9;
	transition: all 0.1s;
}

#home-button:hover {
	background-color:#00e0fd;
	color: #fff;  
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 0.5px 0.5px 7px 3px #ffffff;  
	opacity: 0.7;
	transition: all 0.1s;
}

.billboard-section {
    color: #fff;
	background: black;
	border: 1px solid #00e0fd;
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 5px 5px 14px 6px #ffffff;
	letter-spacing: 1px;
}

/* ON hover of a section turn into neon pink instead of the neon turquoise */
.billboard-section.chart:hover {
    color: #fff;
	background: black;
	border: 1px solid #cb01dd;
	border-top: 1px solid #cb01dd;
	border-bottom: 1px solid #cb01dd;
	border-right: 7px solid #cb01dd;
	border-left: 7px solid #cb01dd;
	letter-spacing: 1px;
}

.section-heading {
    margin-top: 6px;
    margin-bottom: 6px;
}

#chart-title {
	font-family: 'Libre Barcode 39 Text'!important;
    letter-spacing: 2px;
    text-transform: uppercase;
	font-size: 50px;
	font-weight: 500;
	text-shadow: 2px 2px #272525;
	text-align: center;
}

#chart-title_border {
	border: 2px solid #cb01dd;  
	border-radius: 2px;
	 /*1)length right of shadow,2)length of bottom ,3)blur,4.)overall shadow, 5)shadow color  */
	box-shadow: 1px 1px 8px 4px #ffffff;  
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Set subtitle style, outside of color above in chart-title_border? shruggs.*/
#chart-title_subtitle {
	color: #fff;
	font-size: 17px;
	font-weight: 200;
}

.chart-row {
    position: relative;
    border-top: 1px solid #fff;
    border-bottom: 1px solid transparent;
    font-family: 'Poppins', verdana, sans-serif;
}

.chart-row__primary {
	position: relative;
    padding-left: 48px;
    min-height: 100px;
}

.chart-row__history {
	width: 48px;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
	/* background-color: #b1adad; */
	background: linear-gradient(#b1adad, #3b3b3b);
}

.chart-row__history:hover {
	width: 48px;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
	background-color: #cb01dd;
}

/* Arrow icons from Font Awesome */
.fa-arrow-up {
	color: green;
	width: 40px;
	height: 40px;
	margin-top: 2px;
	float: right;
	text-align: center;
	position: relative;
}

.fa-arrow-down {
	color: red;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	float: right;
	text-align: center;
	position: relative;
}

.chart-row__image {
	background-color: grey;
    background-image: url(../images/chart-row-placeholder.jpg?08a860a…);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    float: left;
    vertical-align: top;
    width: 120px;
    height: 120px;
	margin: 12px 12px;
}

h2.chart-row__song { 
	color: #fff;
	font-size: 28px!important; 
	font-weight: 500!important;
	line-height: 1em;
	margin-top: 10px!important;
	margin-bottom: 2px!important; 
	text-align: left;
}

span.chart-row__artist { 
	color: #fff;
	font-size: 17px; 
	font-weight: 100;
	line-height: 1.2em; 
	margin-top: 0px; 
	text-align: left;
	text-decoration: none; 
		text-decoration-line: none;
		text-decoration-style: none;
		text-decoration-color: none;
}

/* For social media icons at bottom of page */
#billboard-icon {
	width: 120px;
	height: 120px;
	box-shadow: 3px 3px 3px #888888;
	opacity: 0.9;
}

#billboard-icon:hover {
	width: 120px;
	height: 120px;
	box-shadow: 3px 3px 3px #888888;
	opacity: 0.80;
}